/Assets/Samples/
/Assets/assets-pack/
/Assets/prefabs/
/Assets/Settings/
/Assets/StreamingAssets/
/Assets/Polybrush Data/
/Assets/UniversalRenderPipelineGlobalSettings.asset
/Assets/materials/
/Assets/Scenes/
/Assets/animations/
/Assets/addons/
/Assets/pipeline-settings/
